<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>О нас</title>

        <!-- Подключение CSS-файла -->
        <link rel='stylesheet' href='css/style.css' />
    </head>
    <body>
        <!-- Начало шапки -->
        <header class='header'>
            <div id='menu-button' class='fa-solid fa-bars'></div>

            <a href='/main' class='logo'>Apeiro</a>

            <nav class='navbar'>
                <a href='/main'>Главная</a>
                <a href='/main'>Автомобили</a>
                <a href='/main'>Сервис</a>
                <a href='/main'>Рекомендации</a>
                <a href='/main'>Отзывы</a>
                <a href='/main'>Контакты</a>
            </nav>
        </header>
        <!-- Конец шапки -->

        <!-- Начало секции О нас -->
        <section class='about-section'>
            <div class='about-div'>
                <img src='images/about-img.jpg' alt='' />

                <div class='about-text'>
                    <h1>О нас</h1>
                    <h5>Реставрация <span>и Продажа</span></h5>
                    <p>
                        Apeiro — это российский интернет сервис, основанный в
                        Крыму в 2022 году и предоставляющий продажу
                        отреставрированных автомобилей, привезенных из-за
                        границы. На портале вы можете ознакомиться со свежими
                        автомобилями известных марок, а также с эксклюзивными
                        автомобилями. Списока автомобилей постоянно пополняется,
                        поэтому не забывайте подписываться на рассылку, чтобы
                        быть в курсе последних обновлений.
                    </p>
                    <p>Реставрация автомобилей компании Apeiro постоянно
                        совершенствуется благодаря тесному контакту с целевой
                        аудиторией.</p>
                    <a href='/main'><button type='button'>Перейти к списку
                            автомобилей</button></a>
                </div>
            </div>
        </section>
        <!-- Конец секции О нас -->

        <!-- Начало секции футера -->
        <section class='footer'>
            <div class='box-container'>
                <div class='box'>
                    <h3>Наши офисы</h3>
                    <a
                        href='https://yandex.ru/maps/-/CCUbmSHWdA'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Симферополь</a>
                    <a
                        href='https://yandex.ru/maps/-/CCUbm-v5dC'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Севастополь</a>
                    <a
                        href='https://yandex.ru/maps/-/CCUbm-CFsA'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Феодосия</a>
                    <a
                        href='https://yandex.ru/maps/-/CCUbm-GZ~C'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Джанкой</a>
                    <a
                        href='https://yandex.ru/maps/-/CCUbm-SXWC'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Ялта</a>
                    <a
                        href='https://yandex.ru/maps/-/CCUbm-W1KD'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Керчь</a>
                </div>

                <div class='box'>
                    <h3>Навигация</h3>
                    <a href='/main'><i
                            class='fa-solid fa-chevron-right'
                        ></i>Главная</a>
                    <a href='/main'><i
                            class='fa-solid fa-chevron-right'
                        ></i>Автомобили</a>
                    <a href='/main'><i
                            class='fa-solid fa-chevron-right'
                        ></i>Сервис</a>
                    <a href='/main'><i
                            class='fa-solid fa-chevron-right'
                        ></i>Рекомендации</a>
                    <a href='/main'><i
                            class='fa-solid fa-chevron-right'
                        ></i>Отзывы</a>
                    <a href='/main'><i
                            class='fa-solid fa-chevron-right'
                        ></i>Контакты</a>
                </div>

                <div class='box'>
                    <h3>Дополнительная информация</h3>
                    <a><i class='fa-solid fa-phone'></i>+7 978 882-81-53</a>
                    <a><i
                            class='fa-solid fa-envelope'
                        ></i>tyman3413@gmail.com</a>
                    <a
                        href='https://yandex.ru/maps/-/CCUbmSHWdA'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Республика Крым, г.
                        Симферополь, Учебный переулок, 8</a>
                    <a><i class='fa-solid fa-clock'></i>С 8:00 до 17:00</a>
                    <a href='/about'><i class='fa-solid fa-building'></i>О нас</a>
                </div>

                <div class='box'>
                    <h3>Социальные сети</h3>
                    <a href='https://t.me/Tyman3413' target='_blank'><i
                            class='fa-brands fa-telegram'
                        ></i>Telegram</a>
                    <a
                        href='https://discordapp.com/users/760724311169433650'
                        target='_blank'
                    ><i class='fa-brands fa-discord'></i>Discord</a>
                    <a href='https://vk.com/tyman3413' target='_blank'><i
                            class='fa-brands fa-vk'
                        ></i>Вконтакте</a>
                    <a
                        href='https://instagram.com/tyman3413?igshid=YmMyMTA2M2Y='
                        target='_blank'
                    ><i class='fa-brands fa-instagram'></i>Instagram</a>
                    <a href='https://github.com/Tyman3413' target='_blank'><i
                            class='fa-brands fa-github'
                        ></i>GitHub</a>
                    <a
                        href='https://www.youtube.com/channel/UClvcf3INcxAg1z4kT-87jwA'
                        target='_blank'
                    ><i class='fa-brands fa-youtube'></i>Youtube</a>
                </div>
            </div>

            <div class='credit'>
                Создано в рамках учебной дисциплины студентом КИПУ им. Февзи
                Якубова в 2022 году
            </div>
        </section>
        <!-- Конец секции футера -->
    </body>

    <!-- Подключение Font Awesome -->
    <script
        src='https://kit.fontawesome.com/01e7be4b4a.js'
        crossorigin='anonymous'
    ></script>
</html>