<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Модель автомобиля</title>

        <!-- Подключение CSS-файла -->
        <link rel='stylesheet' href='css/style.css' />
    </head>
    <body>
        <!-- Начало шапки -->
        <header class='header'>
            <div id='menu-button' class='fa-solid fa-bars'></div>

            <a href='/profile' class='logo'>Apeiro</a>

            <nav class='navbar'>
                <a href='/profile'>Главная</a>
                <a href='/profile'>Автомобили</a>
                <a href='/profile'>Сервис</a>
                <a href='/profile'>Рекомендации</a>
                <a href='/profile'>Отзывы</a>
                <a href='/profile'>Контакты</a>
            </nav>
        </header>
        <!-- Конец шапки -->

        <section class='car-ad'>
            <div class='container'>
                <div class='box-car'>
                    <div class='images'>
                        <div class='img-holder active'>
                            <img src='images/vehicles/vehicle-1.png' alt='' />
                        </div>
                        <div class='img-holder'>
                            <img src='images/vehicles/vehicle-1.png' alt='' />
                        </div>
                        <div class='img-holder'>
                            <img src='images/vehicles/vehicle-1.png' alt='' />
                        </div>
                        <div class='img-holder'>
                            <img src='images/vehicles/vehicle-1.png' alt='' />
                        </div>
                    </div>
                    <div class='basic-info'>
                        <h1>Модель автомобиля</h1>
                        <div class='rate'>
                            <i class='fa-solid fa-star'></i>
                            <i class='fa-solid fa-star'></i>
                            <i class='fa-solid fa-star'></i>
                            <i class='fa-solid fa-star'></i>
                            <i class='fa-solid fa-star'></i>
                        </div>
                        <span>1 500 000 ₽</span>
                        <div class='options'>
                            <a href='#'>Купить сейчас</a>
                            <a href='#'>Связаться с продавцом</a>
                        </div>
                    </div>
                    <div class='description'>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing
                            elit. Dignissimos iusto ipsa asperiores et unde
                            assumenda debitis alias earum cum. Nemo,
                            exercitationem quod ratione commodi explicabo
                            dolorem quidem totam enim, deleniti dolore, nobis
                            perferendis. Eaque explicabo quibusdam debitis
                            quidem asperiores? Perferendis in voluptates ipsam
                            ea distinctio dicta ipsum necessitatibus explicabo,
                            iusto quo aperiam, pariatur illum? Officiis, animi
                            a! Quisquam quas tenetur quam corporis suscipit iste
                            sed voluptas vero cupiditate nobis? Molestias at
                            dolore tempora inventore reprehenderit. Impedit
                            saepe reprehenderit pariatur placeat labore libero
                            aut, quis id et, beatae delectus culpa ex veniam
                            repellat aperiam nesciunt deleniti ea molestiae
                            nisi. Dignissimos mollitia sint optio obcaecati
                            beatae incidunt id, maiores quibusdam magnam
                            officia? Quasi fugit, quibusdam perferendis vitae
                            explicabo ratione nostrum exercitationem enim
                            praesentium blanditiis numquam, sequi necessitatibus
                            libero neque eum officia dolore excepturi!
                            Voluptates ea iure tenetur sapiente earum ipsum id
                            cum eaque eum sunt! Pariatur doloribus molestias
                            quas voluptatibus itaque perspiciatis vel nostrum
                            quos, illum, porro quibusdam vero provident expedita
                            sapiente molestiae vitae distinctio minus facilis
                            optio reprehenderit perferendis error corporis, unde
                            tempora! Iusto eveniet, dolore tempore eaque non
                            assumenda cupiditate autem sint! Dolorem earum
                            aliquam sint consequatur vitae quaerat
                            exercitationem odio atque explicabo nisi, cupiditate
                            sequi accusantium quas corrupti hic?
                        </p>
                        <ul class='features'>
                            <li>
                                <i
                                    class='fa-solid fa-circle-check'
                                ></i>Особенности
                            </li>
                            <li>
                                <i
                                    class='fa-solid fa-circle-check'
                                ></i>Особенности
                            </li>
                            <li>
                                <i
                                    class='fa-solid fa-circle-check'
                                ></i>Особенности
                            </li>
                            <li>
                                <i
                                    class='fa-solid fa-circle-check'
                                ></i>Особенности
                            </li>
                            <li>
                                <i
                                    class='fa-solid fa-circle-check'
                                ></i>Особенности
                            </li>
                        </ul>

                        <ul class='social'>
                            <li>
                                <a
                                    href='https://t.me/Tyman3413'
                                    target='_blank'
                                ><i class='fa-brands fa-telegram'></i></a>
                            </li>
                            <li>
                                <a
                                    href='https://vk.com/tyman3413'
                                    target='_blank'
                                ><i class='fa-brands fa-vk'></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Начало секции футера -->
        <section class='footer'>
            <div class='box-container'>
                <div class='box'>
                    <h3>Наши офисы</h3>
                    <a
                        href='https://yandex.ru/maps/-/CCUbmSHWdA'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Симферополь</a>
                    <a
                        href='https://yandex.ru/maps/-/CCUbm-v5dC'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Севастополь</a>
                    <a
                        href='https://yandex.ru/maps/-/CCUbm-CFsA'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Феодосия</a>
                    <a
                        href='https://yandex.ru/maps/-/CCUbm-GZ~C'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Джанкой</a>
                    <a
                        href='https://yandex.ru/maps/-/CCUbm-SXWC'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Ялта</a>
                    <a
                        href='https://yandex.ru/maps/-/CCUbm-W1KD'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Керчь</a>
                </div>

                <div class='box'>
                    <h3>Навигация</h3>
                    <a href='/profile'><i
                            class='fa-solid fa-chevron-right'
                        ></i>Главная</a>
                    <a href='/profile'><i
                            class='fa-solid fa-chevron-right'
                        ></i>Автомобили</a>
                    <a href='/profile'><i
                            class='fa-solid fa-chevron-right'
                        ></i>Сервис</a>
                    <a href='/profile'><i
                            class='fa-solid fa-chevron-right'
                        ></i>Рекомендации</a>
                    <a href='/profile'><i
                            class='fa-solid fa-chevron-right'
                        ></i>Отзывы</a>
                    <a href='/profile'><i
                            class='fa-solid fa-chevron-right'
                        ></i>Контакты</a>
                </div>

                <div class='box'>
                    <h3>Дополнительная информация</h3>
                    <a><i class='fa-solid fa-phone'></i>+7 978 882-81-53</a>
                    <a><i class='fa-solid fa-phone'></i>+7 978 503-04-33</a>
                    <a><i
                            class='fa-solid fa-envelope'
                        ></i>tyman3413@gmail.com</a>
                    <a
                        href='https://yandex.ru/maps/-/CCUbm-d02B'
                        target='_blank'
                    ><i class='fa-solid fa-location-dot'></i>Россия, Республика
                        Крым, г. Симферополь</a>
                    <a><i class='fa-solid fa-clock'></i>с 09:00 до 18:00</a>
                    <a href='https://kipu-rc.ru/' target='_blank'><i
                            class='fa-solid fa-heart'
                        ></i>КИПУ им. Февзи Якубова</a>
                </div>

                <div class='box'>
                    <h3>Социальные сети</h3>
                    <a href='https://t.me/Tyman3413' target='_blank'><i
                            class='fa-brands fa-telegram'
                        ></i>Telegram</a>
                    <a
                        href='https://discordapp.com/users/760724311169433650'
                        target='_blank'
                    ><i class='fa-brands fa-discord'></i>Discord</a>
                    <a href='https://vk.com/tyman3413' target='_blank'><i
                            class='fa-brands fa-vk'
                        ></i>Вконтакте</a>
                    <a
                        href='https://instagram.com/tyman3413?igshid=YmMyMTA2M2Y='
                        target='_blank'
                    ><i class='fa-brands fa-instagram'></i>Instagram</a>
                    <a href='https://github.com/Tyman3413' target='_blank'><i
                            class='fa-brands fa-github'
                        ></i>GitHub</a>
                    <a
                        href='https://www.youtube.com/channel/UClvcf3INcxAg1z4kT-87jwA'
                        target='_blank'
                    ><i class='fa-brands fa-youtube'></i>Youtube</a>
                </div>
            </div>

            <div class='credit'>
                Создано в рамках учебной дисциплины студентом КИПУ им. Февзи
                Якубова в 2022 году
            </div>
        </section>
        <!-- Конец секции футера -->
    </body>

    <!-- Подключение Font Awesome -->
    <script
        src='https://kit.fontawesome.com/01e7be4b4a.js'
        crossorigin='anonymous'
    ></script>
</html>